* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: LatoBlack;
  src: url(/fonts/Lato/Lato-Black.ttf);
}
@font-face {
  font-family: LatoBold;
  src: url(/fonts/Lato/Lato-Bold.ttf);
}
@font-face {
  font-family: LatoReg;
  src: url(/fonts/Lato/Lato-Regular.ttf);
}
@font-face {
  font-family: LatoLight;
  src: url(/fonts/Lato-Light.ttf);
}
body {
  background-color: #f2f2f2;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f2f2f2;
  height: 100vh;
}
main > h1 {
  font-size: 30px;
  font-family: LatoBlack;
  color: #6c728b;
}
main > p {
  color: #cbc5cc;
  font-size: 18px;
}
