* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: LatoBlack;
  src: url(/fonts/Lato/Lato-Black.ttf);
}
@font-face {
  font-family: LatoBold;
  src: url(/fonts/Lato/Lato-Bold.ttf);
}
@font-face {
  font-family: LatoReg;
  src: url(/fonts/Lato/Lato-Regular.ttf);
}
main {
  background-color: #f2f2f2;
}
main > h1 {
  font-size: 30px;
}
